body{
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color:rgb(96, 101, 120);
}
#myDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#counts{
    display: flex;
    height: 30vh;
    width:90vw;
    border: 1px solid black;
    justify-content: center;
    font-size: 2vw;
}
.countSub{
    width: 32vw;
    margin: 3px;
    border: 1px dashed grey;
}
#textDiv{
    height:30vh;
    width: 40vw;
    margin: 5px;
    align-items: center;
    border: 1px solid black;
    align-content: center;
}
#outputArea{
    height:25vh;
    border:1px solid black;
    margin:3px;
    text-align: center;
    width: 90vw;
}
#buttons{
    display: flex;
    height:8vh;
    width: 60vw;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.btns{
    height:90%;
    width:20%;
    font-size: 2vw;
    background-color: grey;
    text-align: center;
    align-content: center;
}

#textArea{
    width: 50%;
    line-height: 3vw;
    font-size: 2vw;
    text-align: center;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
}